* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.2s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
.s-heading {
  color: white;
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  color: black;
}
/* s heading */
.s-heading::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  z-index: -1;
  transition: var(--main-transition);
}
.s-heading::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  z-index: -1;
  transition: var(--main-transition);
}
.s-heading.animate {
  color: white;
}
.s-heading.animate::before {
  left: 0;
  width: 12px;
  height: 12px;
}
.s-heading.sanimate::before {
  left: 0;
  border-radius: 0;
  width: 52%;
  height: 100%;
}
.s-heading.animate::after {
  right: 0;
  width: 12px;
  height: 12px;
}
.s-heading.sanimate::after {
  right: 0;
  border-radius: 0;
  width: 52%;
  height: 100%;
}
.spt {
  padding-top: var(--main-padding-top);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start header */
header {
  box-shadow: 0 0 10px #ddd;
  background-color: white;
  position: relative;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
    align-items: center;
  }
}
header .container > a {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container > .links {
  display: flex;
}
header .container > .links > li > a,
header .container > .links > li > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: rgb(0, 0, 0);
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
.other-btn {
  cursor: pointer;
}
header .container > .links > li > a:hover,
header .container > .links > li > span:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

header .container > .links > li > a::before,
header .container > .links > li > span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header .container > .links > li > a:hover::before,
header .container > .links > li > span:hover::before {
  left: 0;
}
/* mega menu */
.mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  top: calc(100px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
  /* margin: 15px auto; */
}
.mega-menu.active {
  opacity: 1;
  top: 72px;
}

.mega-menu .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.mega-menu img {
  width: 100%;
}
@media (max-width: 1100px) {
  .mega-menu .image,
  .mega-menu img {
    display: none;
  }
}
.mega-menu .links {
  display: flex;
  flex-direction: column;
}
.mega-menu .links li {
  position: relative;
  border-bottom: solid 1px var(--section-background);
}
.mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
header .mega-menu .links li a i {
  margin-right: 10px;
}
header .mega-menu .links li:hover::before {
  width: 100%;
}
header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
@media (max-width: 530px) {
  .mega-menu {
    flex-direction: column;
    gap: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .mega-menu {
    margin: 72px auto;
  }
}

/* end header */
/* start landing */
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc((100vh - 72px));
  padding-bottom: 120px;
  position: relative;
  z-index: 10;
}
.landing .container.active {
  z-index: 1;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(349deg);
  transform-origin: top left;
}
.landing .container img {
  position: relative;
  width: 600px;
  animation: upAndDown 5s linear infinite;
}

.landing .container .landing-txt h1 {
  font-size: 40px;
  letter-spacing: -2px;
}
.landing .landing-txt p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 988px) {
  .landing .container img {
    display: none;
  }
  .landing .container {
    justify-content: center;
  }
  .landing .container .landing-txt {
    text-align: center;
  }
}
@keyframes upAndDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
  animation: bouncing 1.5s infinite;
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
/* end landing */
/* start articles */
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding-bottom: var(--main-padding-bottom);
}
.articles .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .box:hover > .info i {
  animation: arrowRight 0.6s linear infinite;
}
@keyframes arrowRight {
  100% {
    transform: translateX(10px);
  }
}
.articles .container img {
  width: 100%;
  max-width: 100%;
}
.articles .container .content {
  padding: 20px;
}
.articles .container .content p {
  color: #797979;
  padding-top: 10px;
}
.articles .container .info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid var(--section-background);
}
.articles .container .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .info i {
  color: var(--main-color);
}
/* start articles */
/* start gallery */
.gallery {
  padding-top: var(--main-padding-top);
  position: relative;
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.gallery .box {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.205);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* start gallery */
